@import "../styles/colors.css";
@import "../styles/my_normalize.css";

html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);
}
